.email {
  background-image: url("/images/email.png");
}

.phone {
  background-image: url("/images/phone.png");
}

.copy {
  background-image: url("/images/copy.png");
}

.github {
  background-image: url("/images/github.png");
}