<div
  class="flex flex-col justify-center items-center bg-secondary gap-6 px-4 py-16 md:px-8 md:py-20 md:gap-12 2xl:px-[112px] 2xl:py-24"
>
  <app-tag title="About me" />
  <div class="flex flex-col gap-6">
    <h3
      class="font-semibold text-2xl leading-8 text-heading md:leading-9 md:text-3xl"
    >
      All you need to know about me:
    </h3>
    <div class="flex flex-col gap-4">
      <p class="text-base leading-6 text-body">
        I'm a passionate frontend developer specializing in React.js and
        Angular. I love building interactive, user-friendly web applications
        that are both performant and visually appealing. I focus on delivering
        clean, scalable code that helps businesses bring their ideas to life.
      </p>
      <p class="text-base leading-6 text-body">
        Over the past two years, I've immersed myself in frontend development,
        working on a variety of projects that have improved my skills in React
        and Angular. I also work with TailwindCSS for fast and flexible styling
        and leverage TypeScript to ensure my code is clear, maintainable, and
        type-safe especially when working with large codebases. Every project
        teaches me something new, and I'm always looking for ways to improve my
        craft.
      </p>
      <p class="text-base leading-6 text-body">
        I take a user-first approach to frontend development, focusing on both
        the design and functionality of the product. I believe that the best web
        applications are those that are intuitive and accessible.
      </p>
      <p class="text-base leading-6 text-body">
        I'm open to new opportunities, collaborations, and freelance work! If
        you've got a project in mind, feel free to reach out!
      </p>
    </div>
  </div>
</div>
