<div
  class="flex flex-col justify-between items-center bg-primary gap-6 px-4 py-16 md:px-8 md:py-20 md:gap-12 md:flex-row 2xl:px-[112px] 2xl:py-24"
>
  <div class="flex flex-col gap-8 order-1 2xl:gap-12 md:order-0">
    <div class="flex flex-col gap-2">
      <h1
        class="font-semibold leading-10 text-4xl text-heading md:text-5xl lg:leading-[72px] lg:text-6xl"
      >
        Hello! I'm Alfred👨‍💻
      </h1>
      <p class="text-base leading-6 text-body">
        I'm a frontend developer who focuses on building accessible and
        visually engaging web applications using React.js and Angular. With 2
        years of experience developing responsive user interfaces, I'm
        passionate about turning ideas into interactive, user-friendly digital
        experiences. I'm always exploring ways to write cleaner code and create
        better web experiences.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-1.5">
        <div class="flex items-center justify-center w-8 h-8">
          <div class="location w-6 h-6"></div>
        </div>
        <p class="text-base leading-6 text-body">Lagos, Nigeria</p>
      </div>
      <div class="flex items-center gap-1.5">
        <div class="flex items-center justify-center w-8 h-8">
          <img
            src="images/status.png"
            alt="status"
            class="animate-status w-6 h-6"
          />
        </div>
        <p class="text-base leading-6 text-body">Available for new projects</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:order-1">
    <div class="w-[280px] h-[300px] md:w-[320px] md:h-[360px]">
      <div
        class="frame relative w-[240px] h-[280px] left-[20px] bg-cover bg-center border-8 border-primary z-20 md:w-[280px] md:h-[320px] md:left-0"
      ></div>
      <div
        class="relative w-[280px] h-[280px] bottom-[260px] bg-gray border-8 border-primary z-10 md:h-[320px] md:left-[40px] md:bottom-[280px]"
      ></div>
    </div>
  </div>
</div>
